.navigator {
	background-color: #b3ffff;
	display: flex;
	flex-direction: column;
}
	.navigator-container {
		height: 200px;
		margin: 20px;
	}
	.navigator-buttons {
		display: flex;
	}
		.navigator-buttons-button {
			margin-left: 15px;
		}