.navigator {
	display: flex;
	flex-direction: column;
	top: 0 !important;
	bottom: auto !important;
}
	.navigator-picture {
		height: 400px;
		background-color: antiquewhite;
		margin: 20px 50px;
	}
	.navigator-buttons {
		background-color: blueviolet;
		display: flex;
	}
		.navigator-buttons-button {
			margin-left: 15px;
		}
		.navigator-buttons-text {
			color: initial;
		}
