/*comment container*/
.commentsContainer{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	min-height: 500px;
	p{
		font-size: 1.875em;
	}
}
.add-comment{
	margin-top: 5px;
	margin-bottom: 5px;
}

.comments{
	width: 100%;
	overflow:auto;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	margin-top: 5px;
}
.comments-icon{
	float: left;
	height: 100px;
	width: 100px;
	margin: 5px;
	border: 1px solid black;
}
.comments-content{
	width: auto;
	margin: 5px;
	height: auto;
	min-height: 120px;
}
.comments-author{
	font-size: medium;
}
.comments-date{
	font-size: small;
	color: #ccc;
}
.comments-like{
	float: right;
}
